{% extends 'web/_main.html' %}
{% load static %}

{% block contenido %}

<main class="my-6">
    <div class="w-11/12 max-w-[1200px] mx-auto">

        <div class="grid place-items-center">
            <h1 class="text-7xl max-md:text-5xl uppercase font-black bg-gradient-to-r from-yellow-400 via-amber-400 to-orange-400 inline-block text-transparent bg-clip-text italic">Candidatos</h1>
            <p class="text-center text-lg italic text-gray-400">Conoce a cada uno de nuestros candidatos. Ni la selección española se atrevió a tanto.</p>
        </div>

        <div class="grid grid-cols-2 mt-8 gap-8 max-lg:flex flex-col">
            {% for candidate in page_obj %}
                <div class="border-2 border-amber-400/20 border-solid flex flex-col gap-8 items-center p-6 bg-gray-900/20 shadow-lg rounded-lg">
                    <img class="aspect-1 object-contain object-bottom h-[300px] -mb-14" src="{{ candidate.main_image.image.url }}" alt="candidate image">
                    <h4 class="animation-glow w-[120%] text-center text-7xl max-md:text-5xl font-black italic uppercase text-white tracking-[-0.1em]">{{ candidate.name }} {{ candidate.surname }}</h4>
                    <div class="w-[95%] text-gray-400">
                        <div class="grid grid-cols-2 gap-4 max-sm:grid-cols-1">
                            <div class="flex items-center gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" class="min-w-[35px]" width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#9ca3af" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M3 20h18v-8a3 3 0 0 0 -3 -3h-12a3 3 0 0 0 -3 3v8z" />
                                    <path d="M3 14.803c.312 .135 .654 .204 1 .197a2.4 2.4 0 0 0 2 -1a2.4 2.4 0 0 1 2 -1a2.4 2.4 0 0 1 2 1a2.4 2.4 0 0 0 2 1a2.4 2.4 0 0 0 2 -1a2.4 2.4 0 0 1 2 -1a2.4 2.4 0 0 1 2 1a2.4 2.4 0 0 0 2 1c.35 .007 .692 -.062 1 -.197" />
                                    <path d="M12 4l1.465 1.638a2 2 0 1 1 -3.015 .099l1.55 -1.737z" />
                                </svg>
                                <p class="text-nowrap truncate">{{ candidate.age }}</p>
                            </div>
                            <div class="flex items-center gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" class="min-w-[35px]" width="38" height="38" viewBox="0 0 24 24" stroke-width="1.5" stroke="#9ca3af" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M5 14h14l-4.5 -4.5l4.5 -4.5h-14v16" />
                                </svg>
                                <p class="text-nowrap truncate">{{ candidate.nationalities }}</p>
                            </div>

                            <div class="flex items-center gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" class="min-w-[35px]" width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#9ca3af" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M11 11m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
                                    <path d="M19 3l-5 5" />
                                    <path d="M15 3h4v4" />
                                    <path d="M11 16v6" />
                                    <path d="M8 19h6" />
                                </svg>
                                <p class="text-nowrap truncate">{{candidate.gender.name}}</p>
                            </div>
                            {% if candidate.linkedin_profile %}
                            <a href="{{candidate.linkedin_profile}}" target="_blank" class="flex items-center gap-2 group w-fit hover:text-white transition-colors">
                                <svg xmlns="http://www.w3.org/2000/svg" class="min-w-[35px] stroke-gray-400 group-hover:stroke-white transition-colors" width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
                                    <path d="M8 11l0 5" />
                                    <path d="M8 8l0 .01" />
                                    <path d="M12 16l0 -5" />
                                    <path d="M16 16v-3a2 2 0 0 0 -4 0" />
                                </svg>
                                <p class="text-nowra truncate">Ver LinkedIn</p>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    <a href="{% url 'candidates:candidate-detail' candidate.slug %}" class="w-11/12 mx-auto mt-auto cursor-pointer inline-block px-12 py-6 text-center bg-amber-500 -skew-x-[20deg] hover:bg-gray-900 text-gray-900 hover:text-gray-100 transition-colors">
                        <span class="inline-block skew-x-[20deg] font-black uppercase text-2xl">Ver Candidato</span>
                    </a>
                </div>
            {% empty %}
                <p class="my-6 text-white font-bold text-lg">¡Vaya! Todavía no hay candidatos.</p>
            {% endfor %}
        </div>

        <div class="flex px-4 gap-4 w-fit mx-auto justify-center items-center my-8 bg-gray-900/20 shadow-lg rounded-lg h-14 text-white">
            <a {% if page_obj.has_previous %} href="?page=1" {% endif %} class="grid place-items-center {% if not page_obj.has_previous %} opacity-35 {% endif %}">
                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-gray-300 {% if page_obj.has_previous %} hover:stroke-white cursor-pointer transition-colors {% endif %}" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M9 11l-4 4l4 4m-4 -4h11a4 4 0 0 0 0 -8h-1" />
                </svg>
            </a>
            <span class="h-full w-px bg-gray-800/70"></span>
            <a {% if page_obj.has_previous %} href="?page={{ page_obj.previous_page_number }}" {% endif %} class="grid place-items-center {% if not page_obj.has_previous %} opacity-35 {% endif %}">
                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-gray-300 {% if page_obj.has_previous %} hover:stroke-white cursor-pointer transition-colors {% endif %}" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M15 6l-6 6l6 6" />
                </svg>
            </a>
            <span class="h-full w-px bg-gray-800/70"></span>

            {% for i in paginator.page_range %}
            <a href="?page={{i}}" class="px-2 {% if i == page_obj.number %} font-bold text-amber-400{% endif %}">
                {{ i }}
            </a>
            <span class="h-full w-px bg-gray-800/70"></span>
            {% endfor %}

            <a {% if page_obj.has_next %} href="?page={{ page_obj.next_page_number }}" {% endif %} class="grid place-items-center {% if not page_obj.has_next %} opacity-35 {% endif %}">
                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-gray-300 {% if page_obj.has_next %} hover:stroke-white cursor-pointer transition-colors {% endif %}" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M9 6l6 6l-6 6" />
                </svg>
            </a>
            <span class="h-full w-px bg-gray-800/70"></span>
            <a {% if page_obj.has_next %} href="?page={{ page_obj.paginator.num_pages }}" {% endif %} class="grid place-items-center {% if not page_obj.has_next %} opacity-35 {% endif %}">
                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-gray-300 {% if page_obj.has_next %} hover:stroke-white cursor-pointer transition-colors {% endif %}" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M15 14l4 -4l-4 -4" />
                    <path d="M19 10h-11a4 4 0 1 0 0 8h1" />
                </svg>
            </a>
        </div>
    </div>
</main>
    
{% endblock %}