@tailwind base;
@tailwind components;
@tailwind utilities;

.open-sans-300 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.open-sans-400 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.open-sans-500 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.open-sans-600 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.open-sans-700 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.open-sans-800 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.leckerli-one {
    font-family: "Leckerli One", cursive;
    font-weight: 400;
    font-style: normal;
  }
  

@keyframes glow {
    from {
        filter: drop-shadow(0 0 3px rgba(175, 175, 175, 0.6));
    }
    to {
        filter: drop-shadow(0 0 20px rgba(200, 200, 200, 0.9));
    }
}

.animation-glow {
    animation: glow 1.5s infinite alternate-reverse ease-in-out;
}

@keyframes golden-glow {
    from {
        filter: drop-shadow(0 0 3px rgba(250, 203, 22, 0.3));
    }
    to {
        filter: drop-shadow(0 0 50px rgba(240, 218, 129, 0.9));
    }
}

.animation-golden-glow {
    animation: golden-glow 1.5s infinite alternate-reverse ease-in-out;
}

@keyframes width-animate {
    0% {
        width: 0%;
    }
    100% {
        width: var(--final-width);
    }
}