{% extends 'common/_main.html' %}
{% load static %}

{% block content %}

<main class="my-6">
    <div class="w-11/12 max-w-[1200px] mx-auto">

        <div class="grid place-items-center">
            <h1 class="text-7xl max-md:text-5xl uppercase font-black bg-gradient-to-r from-yellow-400 via-amber-400 to-orange-400 inline-block text-transparent bg-clip-text italic">Categorías</h1>
            <p class="text-center text-lg italic text-gray-400">Todas y cada una de nuestras categorías han sido confeccionadas por los maestros cerveceros.</p>
        </div>

        <div class="grid grid-cols-3 mt-8 gap-6 max-xl:grid-cols-2 max-md:flex max-md:flex-col">
            {% for category in page_obj %}
                <div class="border-2 border-amber-400/20 border-solid flex flex-col gap-6 items-center p-6 bg-gray-900/20 shadow-lg rounded-lg">
                    <h4 class="animation-glow w-[120%] text-center text-6xl max-md:text-5xl font-black italic uppercase text-white tracking-[-0.1em]">{{ category.name }}</h4>
                    <p class="text-gray-300">{{ category.description }}</p>
                </div>
            {% empty %}
                <p class="my-6 text-white font-bold text-lg">¡Vaya! Todavía no hay categorías.</p>
            {% endfor %}
        </div>

        {% include 'common/components/pagination.html' %}
    </div>
</main>
    
{% endblock %}