{% extends 'web/_main.html' %}
{% load static %}

{% block content %}

<main class="my-6">

    <div class="w-11/12 max-w-[1200px] mx-auto">

        <form action="" method="POST">
            {% csrf_token %}

            {{ current_category.name }}
            <div id="voting-form-container" class="grid grid-cols-3">
                {% for candidate in candidates %}
                
                <div class="border-red-600 border-2">
                    <p>{{ candidate.name }} {{ candidate.surname }}</p>
                    <div id="candidate-{{candidate.id}}-voting-buttons-container" class="grid grid-cols-3" data-candidate-id="{{ candidate.id }}">
                        {% for voting_point in voting_points%}
                            <button type="button" data-vote-value="{{voting_point}}" class="border-blue-600 border-2 disabled:opacity-60">Vote {{voting_point}} point{{voting_point|pluralize}}</button>
                        {% endfor %}
                    </div>
                </div>
                
                {% endfor %}
            </div>
            
            {% for voting_point in voting_points%}
                <input type="hidden" name="voting_choice_{{voting_point}}_points">
            {% endfor %}

            <button type="submit">Submit</button>
            
        </form>

    </div>
    
    <script>
        const pointList = [{% for voting_point in voting_points %} {{voting_point}}, {% endfor %}];
        const votingFormContainer = document.getElementById("voting-form-container");

        votingFormContainer.addEventListener("click", function(event) {
            if (event.target.tagName === "BUTTON") {
                const button = event.target;
                const points = button.dataset.voteValue;
                const candidateId = button.closest("[data-candidate-id]").getAttribute("data-candidate-id");
                
                handleVotingButtonClick(button, candidateId, points);
            }
        });

        function handleVotingButtonClick(button, candidateId, points) {
            const isButtonSelected = getButtonSelected(button);
            const pointsInput = document.querySelector(`input[name="voting_choice_${points}_points"]`);

            
            if (!isButtonSelected) {
                toggleButtonsByCandidate(candidateId);
                toggleButtonsByPoints(points);
                pointsInput.value = candidateId;
            } else {
                pointsInput.value = '';
            }

            toggleButtonSelectedClasses(button);
        }

        function getButtonSelected(button) {
            return button.classList.contains("border-dashed") && button.classList.contains("border-pink-600");
        }

        function toggleButtonSelectedClasses(button) {
            button.classList.toggle("border-dashed");
            button.classList.toggle("border-pink-600");
        }

        function toggleButtonsByCandidate(candidateId) {
            const candidateButtonsContainer = document.getElementById(`candidate-${candidateId}-voting-buttons-container`);
            const buttonsList = Array.from(candidateButtonsContainer.children).filter(getButtonSelected);
            toggleButtons(buttonsList);
            cleanInputForButtons(buttonsList);
        }

        function toggleButtonsByPoints(points) {
            const pointsButtons = document.querySelectorAll(`button[data-vote-value="${points}"]`);
            const buttonsList = Array.from(pointsButtons).filter(getButtonSelected);
            toggleButtons(buttonsList);
            cleanInputForButtons(buttonsList);
        }

        function toggleButtons(buttonList) {
            buttonList.forEach(toggleButtonSelectedClasses);
        }

        function cleanInputForButtons(buttonList) {
            buttonList.forEach(button => {
                const points = button.dataset.voteValue;
                const input = document.querySelector(`input[name="voting_choice_${points}_points"]`);
                input.value = '';
            })
        }

        function resetInputValues() {
            for (let points of pointList) {
                let pointsInput = document.querySelector(`input[name="voting_choice_${points}_points"]`);
                pointsInput.value = '';
            }
        }

        resetInputValues();
    </script>
</main>
    
{% endblock %}
