{% extends 'common/_empty.html' %}
{% load static %}

{% block content %}

<main class="my-6 flex-1 grid place-items-center">
    <div class="w-11/12 max-w-[1200px] mx-auto flex flex-col items-center">
        <h1 class="uppercase text-center text-7xl max-md:text-4xl font-black"><span class="bg-gradient-to-r from-yellow-400 via-amber-400 to-orange-400 inline-block text-transparent bg-clip-text italic">Has completado la votación</span></h1>
        <p class="text-center text-lg italic text-gray-400">Los resultados estarán disponibles el {{ settings.winners_reveal_date|date:"d/m/Y" }}</p>
        <a href="{% url 'common:index' %}" class="disabled:opacity-50 disabled:bg-gray-900 disabled:text-gray-100 disabled:cursor-not-allowed mt-5 cursor-pointer inline-block px-12 py-6 my-6 text-center bg-gradient-to-r from-yellow-400 hover:from-gray-900 via-amber-400 hover:via-gray-800 to-orange-400 hover:to-gray-900 -skew-x-[20deg] text-gray-900 hover:text-gray-100">
            <span class="inline-block skew-x-[20deg] font-black uppercase text-3xl">
                Vámono
            </span>
        </a>
    </div>
</main>
    
{% endblock %}