{% extends 'web/_main.html' %}
{% load static %}

{% block contenido %}

<main>
    <div class="-mt-24 relative aspect-[16/9] max-md:aspect-none max-md:min-h-[500px]">

        <div class="w-full h-full z-0 absolute top-0 left-0 overflow-hidden max-md:min-h-[500px]">
            <video playsinline autoplay muted loop class="w-full h-full object-cover scale-125 blur-sm brightness-50">
                <source src="{% static 'media/home_page_overlay_video.mp4' %}" type="video/mp4">
            </video>
        </div> <!-- overlay -->


        <div class="w-full h-full relative z-10 grid place-items-center max-md:min-h-[500px]">
            <p class="text-7xl text-zinc-100">Mango D'Or<br>Awards</p>
        </div>

    </div>
</main>
    
{% endblock %}

{% block scripts %}
    {% comment %} {% load static %}
    <script type="text/javascript" src="{% static 'scripts/index/index.js' %}"></script> {% endcomment %}
{% endblock %}
